body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f6f6;
}

.mainContainer {
  background-color: #f6f6f6;
  height: 100vh;
  margin-top: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: column;
  width: 70%;
}

.staticHead {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.staticHead h2 {
  color: #545862;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.staticHead input {
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
}

.staticHead input[type=text] {
  font-style: italic;
  font-size: 15px;
}

.clearAll {
  height: 50px;
  width: 100%;
  outline: none;
  border: none;
}

.staticUl {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.staticUl li {
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.check {
  margin-left: 15px;
  margin-right: 10px;
}

.listedTasks {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}

.itemsTasks {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.staticHead button {
  background-color: transparent;
  border: none;
}

.listedTasks button {
  background-color: transparent;
  border: none;
}
